.background-blue {
    background: #BADEFF;
}

.background-darkblue {
    background : #32468C;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    body {
        font-family: 'Montserrat', sans-serif;
    }